[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "~=4.5.3.56"
imutils = "~=0.5.4"
numpy = "~=1.21.1"
pillow = "~=8.3.1"
pynput = "~=1.7.3"
pyautoit = "*"
mss = "~=6.1.0"
matplotlib = "~=3.4.2"

[dev-packages]

[requires]
python_version = "3.9"
